# {{ ansible_managed }}
# Default settings that all others account inherit
defaults
auth   {{msmtp_defaults_auth}}
tls    {{msmtp_defaults_tls}}
{% if msmtp_tls_trust_file is defined %}
tls_trust_file {{msmtp_tls_trust_file}}
{% else %}
tls_trust_file /etc/ssl/certs/ca-certificates.crt
{% endif %}

# Logging 
{% if msmtp_log is defined %}
{% if msmtp_log == "syslog" %}
syslog on
{% elif msmtp_log == "file" and msmtp_logfile is defined %}
logfile  {{msmtp_logfile}}
{% endif %}
{% endif %}


from     {{msmtp_from}}
keepbcc  on

{% if msmtp_accounts is defined %}
{% for msmtp_account in msmtp_accounts %}
#
account  {{msmtp_account.account}}
host     {{msmtp_account.host}}
port     {{msmtp_account.port}}
{% if msmtp_account.auth is defined and msmtp_account.auth == true %}
  auth     {{msmtp_account.auth}}
  user     {{msmtp_account.user}}
  password {{msmtp_account.password}}
{% endif %}

{% endfor %}
{% endif %}

# Default account to use
account default : {{msmtp_default_account}}

aliases /etc/aliases
